---
layout: page
title: Ongoing Studies
subtitle: We work directly with visualization, machine learning, and data science practitioners to develop grounded and useful tools. We'd love to work with you to design the future of data science!
---

<div class="flex flex-wrap">
  {% for post in site.posts %} 
    {% if post.is_study and post.study_state != "Completed" %}
      <div class="flex flex-row-ns flex-wrap">
        <div class="{% if post.thumbnail %} w-70-ns w-100-s {% else %} w-100 {% endif %}">
          <h3 class="mb0"><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <h5 class="mt0">
            {{ post.study_state }} (last updated {{ post.last_updated | date: "%B %-d, %Y" }})
          </h5>
          {{ post.excerpt }}
          {% if post.study_state == "Recruiting" %}
            {% if post.enrollment_link %}
              <a class="link dim ph3 pv2 mb2 dib white bg-cmu-red" href="{{ post.enrollment_link }}" target="_blank">Participate</a>
            {% endif %}
            {% if post.contact_email %}
              <a class="link dim ph3 pv2 mb2 dib white bg-cmu-dark-gray" href="mailto:{{ post.contact_email }}">Contact</a>
            {% endif %}
          {% else %}
            <a class="link dim ph3 pv2 mb2 dib white bg-cmu-red" href="{{ post.url }}">
              Learn More
            </a>
          {% endif %}
        </div>
        {% if post.thumbnail %}
          <div class="w-30-ns w-100-s pl4">
            <a href="{{ post.url }}">
              <img
                src="{{ post.thumbnail }}"
                alt="{{ post.thumbnail_alt | default: 'Thumbnail image' }}"
              />
            </a>
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>
