---
layout: page
title: Studies
subtitle: We work directly with data scientists to understand how they work and develop new tools and visualizations. We would love to work with you on any of our ongoing studies! In addition, you can fill out this quick <a href="https://docs.google.com/forms/d/e/1FAIpQLSdm-uNPqktKc97vOOJDTkbnF0fg8oPltbrqrjqHxWGIhudnHA/viewform?usp=sf_link" target="_blank">interest form</a> to be notified if you're eligible for a future study.
description: We are looking for data experts to help inform the design of new tools and visualizations. Check out our ongoing studies!
---

<div>
  {% for post in site.posts %} {% if post.studyLink %}
  {% include post-preview.html post=post %}
  {% endif %} {% endfor %}
</div>
