---
layout: page
title: Team
subtitle: People define this group. If you are a current student at CMU, you can apply to the lab via <a href="https://forms.gle/6tHMesK3Yv8tkYtv5">this form</a>. If you are interested in a PhD with us, <a href="https://dig.cmu.edu/2020/10/03/join-us.html">please apply to CMU</a>.
roles:
  - Professor
  - PhD Student
  - Affiliated Professor
  - Visiting PhD Student
  - Masters Student
  - Undergraduate Student
---

<h2>Current Members</h2>

<div class="flex flex-wrap">
  {% for role in page.roles %}
    {% for person in site.people %}
      {% if person.role == role %}
        {% unless person.alumni_since %}
          <div class="w-25-m w-20-l w-50 ph2 pv2">
            <a href="{{ person.website }}"><span>
                <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
                <span class="black">
                  {{ person.name }}
                </span>
              </span>
            </a>
            <div class="gray">({{ person.role }})</div>
          </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

<h2>Past Members</h2>

<!-- <ul class="list pl0">
  {% assign sorted_alumni = site.people | sort: 'alumni_since' | reverse %} {%
  for person in sorted_alumni %} {% if person.alumni_since %}
  <li>
    <a href="{{ person.website }}" class="black">{{ person.name }}</a>, alumni
    since {{ person.alumni_since }}
    <span class="gray">(formerly a {{ person.role }})</span>
  </li>
  {% endif %} {% endfor %}
</ul> -->

<div class="flex flex-wrap">
  {% assign alumni = site.people | where_exp: 'p', 'p.alumni_since' %}
  {% assign sorted_alumni = alumni | sort: 'alumni_since' | reverse %} 
  {% for role in page.roles %}
    {% assign sorted_alumni_current_role = sorted_alumni | where: 'role', role %} 
    {% if sorted_alumni_current_role.size > 0 %}
      <h3>{{role}}s</h3>
      <div class="flex flex-wrap">
      {% for person in sorted_alumni_current_role %} 
          <div class="w-25-m w-10-l w-50 ph2 pv2">
            <a href="{{ person.website }}"><span>
                <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
                <span class="black">
                  {{ person.name }}
                </span>
                <span class="gray">
                  ({{ person.alumni_since }})
                </span>
              </span>
            </a>
          </div>
      {% endfor %} 
      </div> 
      {% endif %}
      {% endfor %}

</div>

<div class="mb4"></div>
You can find instructions for editing this list <a href="https://github.com/cmudig/cmudig.github.io/tree/master/_people#adding-a-person">in the repository for this website</a>.
