---
layout: default
---

<section>
  <div class="pv4 bg-near-white">
    <div class="w-100 mw8 ph4-l ph3 pv4-l pv3 center">
      <h1 class="f2 lh-title measure mt3">
        {{ page.name }}
      </h1>
      <div class="f4 measure lh-copy">
        <div>{{ page.semester }} {{ page.year }}</div>
        {% if page.time %}
        <div>
          {{ page.time }} {% if page.location %}in {{ page.location }} {% endif
          %}
        </div>
        {% endif %}
      </div>
      <div class="flex flex-column flex-row-l">
        <div class="flex flex-row flex-wrap items-start mt1 mr4">
          {% for name in page.instructors %} {% assign instructor = site.people |
            where:"name", name | first %}
              <div class="flex flex-column items-center mt3 mr4">
                <img
                  class="br-100 w3 h3 mb1"
                  src="{{ instructor.image | relative_url }}"
                  alt="Picture of {{ instructor.name }}"
                />
                <div class="black">{{ instructor.name }}</div>
                <div class="gray">(Instructor)</div>
              </div>
          {% endfor %}
        </div>
        <div class="flex flex-row flex-wrap items-start mt1">
        {% for name in page.tas %} {% assign ta = site.people |
          where:"name", name | first %}
            <div class="flex flex-column items-center mt3 mr4">
              <picture>
                <source srcset="{{ ta.image | relative_url }}"></source>
                <source srcset="{{ 'assets/person.png' | relative_url }}"></source>
                <img class="br-100 w3 h3 mb1" alt="Picture of {{ name }}" />
              </picture>
              <div class="black">{{ name }}</div>
              <div class="gray">(Teaching Assistant)</div>
            </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 mw8 ph4-l ph3 center mt4">
    <article class="measure-wide lh-copy">
      {{ content }}
    </article>
  </div>
</section>
