<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="content">
      <header class="bg-white">
        <div class="w-100 mw8 ph4-l ph3 center pt3 pb3 flex items-baseline">
          <a href="/" class="dib f3 fw6 mt0 mb1 link black hover-cmu-red"
            >CMU DIG</a
          >
          <nav class="ml-auto">
            <a
              class="ml4-ns ml2 b black hover-cmu-red link"
              href="{{ '/about' | relative_url }}"
              >About</a
            >
            <a
              class="ml4-ns ml2 b black hover-cmu-red link"
              href="{{ '/team' | relative_url }}"
              >Team</a
            >
            <a
              class="ml4-ns ml2 b black hover-cmu-red link"
              href="{{ '/publications' | relative_url }}"
              >Publications</a
            >
            <a
              class="ml4-ns ml2 b black hover-cmu-red link dn di-ns"
              href="https://github.com/cmudig"
              >GitHub</a
            >
            <a
              class="ml4-ns ml2 b black hover-cmu-red link dn di-ns"
              href="https://twitter.com/cmudig"
              >Twitter</a
            >
          </nav>
        </div>
      </header>

      <main>
        {{ content }}
      </main>
    </div>

    <footer class="bt bg-cmu-dark-gray white mt5">
      <div class="w-100 mw8 ph4-l ph3 center pv5">
        <div class="flex flex-row-ns flex-column">
          <div class="w-50-ns">
            <div class="pv1">
              Hello from Pittsburgh.
              <a
                href="{% post_url 2019-10-15-join-us %}"
                class="link white dim underline"
                >Come join us!</a
              >
            </div>
            <div class="pv1">
              <a
                href="https://github.com/cmudig/cmudig.github.io/edit/master/{{
                  page.path
                }}"
                class="link white dim"
                >Edit this page</a
              >
            </div>
            <div class="pv1">
              We are
              <a href="https://twitter.com/cmudig" class="link white dim"
                >@cmudig</a
              >
              on Twitter.
            </div>
            <div class="pt4">
              <abbr
                title="Last build on {{ site.time | date: '%Y-%m-%d' }}"
                class="white"
                style="text-underline-position: under"
                >{{ site.time | date: "%B %Y" }}</abbr
              >
            </div>
          </div>
          <div class="w-50-ns">
            <h4 class="white mt0-ns">Links</h4>
            <ul class="list pl0">
              <li>
                <a href="https://hcii.cmu.edu" class="link white dim pv1 dib"
                  >Human-Computer Interaction Institute</a
                >
              </li>
              <li>
                <a href="https://www.cs.cmu.edu" class="link white dim pv1 dib"
                  >School of Computer Science</a
                >
              </li>
              <li>
                <a href="https://www.cmu.edu" class="link white dim pv1 dib"
                  >Carnegie Mellon University</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
