---
layout: default
---

<div class="pv4 bg-near-white">
  <div class="w-100 mw8 ph4-l ph3 pv4-l pv3 center">
    <h1 class="f2 lh-title measure mt3">
      {{ page.title }}
    </h1>
    {%if page.subtitle %}
      <p class="f4 measure lh-copy">{{ page.subtitle }}</p>
    {% endif %}
    {% if page.date %}
      <p class="f4 measure lh-copy mt1">
        Published on <time datetime="{{ page.date }}">{{ page.date | date: "%B %-d, %Y" }}</date>
      </p>
    {% endif %}
  </div>
</div>

<div class="w-100 mw8 ph4-l ph3 center mt4">
  {{ content }}
</div>
