---
layout: page
---

<div class="flex flex-row flex-wrap justify-between">
  <div class="{% if page.side_image %} w-60-ns {% endif %} w-100">
    {{ content }}
    {% if page.studyLink %}
    <a href="{{page.studyLink}}" class="black link hover-cmu-red mr3 dib">
      <span class="cta">Participate</span>
    </a>
    {%endif%}
  </div> 
  {% if page.side_image %}
  <div class="w-30-ns w-100">
    <img src="{{ page.side_image }}" alt="{{ post.side_image_alt | default: post.title }}" class="fr"/>
  </div>
  {% endif %} 
</div>
